<div style="font-size:18pt; padding-top:20px; text-align:center">СЕМИНАР 2. <b>Введение в </b> <span style="font-weight:bold; color:green">Pandas</span></div><hr>
<div style="text-align:right;">Папулин С.Ю. <span style="font-style: italic;font-weight: bold;">(papulin_hse@mail.ru)</span></div>

<a name="0"></a>
<div><span style="font-size:14pt; font-weight:bold">Содержание</span>
    <ol>
        <li><a href="#1">Основные типы данных в Pandas</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#1a">Последовательность</a></li>
                <li><a href="#1b">Табличная структура данных (DataFrame)</a></li>
                <li><a href="#1c">Панель (Panel)</a></li>
            </ol>
        <li><a href="#2">Первые шаги с DataFrame</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#2a">Создание DataFrame</a></li>
                <li><a href="#2b">Обращение к элементам</a></li>
                <li><a href="#2c">Запись содержания DataFrame во внешний файл</a></li>
                <li><a href="#2d">Загрузка внешних данных в DataFrame</a></li>
            </ol>
        <li><a href="#3">Манипулирование DataFrame'ми</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#3a">Столбцы</a></li>
                <li><a href="#3b">Строки</a></li>
                <li><a href="#3c">Значения ячеек</a></li>
                <li><a href="#3d">Группировка</a></li>
                <li><a href="#3e">Сортировка</a></li>
                <li><a href="#3f">Сложные индексы</a></li>
                <li><a href="#3g">Объединение DataFrame'ов: <i>append, concat, merge, join</i></a></li>
                <li><a href="#3h">Методы <i>iterrows</i>, <i>map</i>, <i>apply</i>, <i>applymap</i></a></li>
            </ol>
        <li><a href="#4">Математическая поддержка</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#4a">Операции со столбцами</a></li>
                <li><a href="#4b">Специальные методы</a></li>
            </ol>
        <li><a href="#5">Визуализация данных</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#5a">График (plot)</a></li>
                <li><a href="#5b">Гистограмма</a></li>
            </ol>
        <li><a href="#6">Источники</a></li>
    </ol>
</div>

<a name="1"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">1. Основные типы данных в <span style="font-weight:bold; color:green">Pandas</span></div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) последовательность <span style="font-weight:bold; color:green">Series</span><br> 
b) табличная структура <span style="font-weight:bold; color:green">DataFrame</span><br> 
c) панель <span style="font-weight:bold; color:green">Panel</span><br>
</div>

In [1]:
import pandas as pnd
import numpy as np

<a name = "1a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Последовательность (<span style="font-weight:bold; color:green">Series</span>)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#1">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#1b">Далее</a></div>
    </div>
</div>

<p>Последовательность <span style="font-weight:bold; color:green">Series</span> - одномерный массив с метками (индексами) для хранения различных типов данных: целых (integer), действительных чисел (float), строк (string), объектов Python</p>

In [2]:
s = pnd.Series(data = ["Dima", "Sveta","Alex", "Ivan", "Kate", "Maria"], index = list(range(1,7)), name = "Name")
s

1     Dima
2    Sveta
3     Alex
4     Ivan
5     Kate
6    Maria
Name: Name, dtype: object

In [3]:
lNum = [-2.011894, 0.098981, 0.693385, 1.055508, 0.640023]
lNum

[-2.011894, 0.098981, 0.693385, 1.055508, 0.640023]

In [4]:
s2 = pnd.Series(data = lNum, index=['a', 'b', 'c', 'd', 'e'], name = "Number")
s2

a   -2.011894
b    0.098981
c    0.693385
d    1.055508
e    0.640023
Name: Number, dtype: float64

In [5]:
s3 = pnd.Series(data = lNum, index=['a', 'b', 'c', 'd', 'e'], name = "Number", dtype = 'int')
s3

a   -2
b    0
c    0
d    1
e    0
Name: Number, dtype: int64

<p>Вывод первых (<i>head</i>) и последних (<i>tail</i>) $n$ значений</p>

In [6]:
s.head(2)

1     Dima
2    Sveta
Name: Name, dtype: object

In [7]:
s.tail(2)

5     Kate
6    Maria
Name: Name, dtype: object

<p>Обращение к элементам <span style="font-weight:bold; color:green">Series</span></p>

In [8]:
s[3]

'Alex'

In [9]:
s2['b']

0.098981

In [10]:
s[3] = "NewAlex"
s

1       Dima
2      Sveta
3    NewAlex
4       Ivan
5       Kate
6      Maria
Name: Name, dtype: object

<a name = "1b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Табличная структура данных (<span style="font-weight:bold; color:green">DataFrame</span>)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#1a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#1c">Далее</a></div>
    </div>
</div>

<p>Табличная структура <span style="font-weight:bold; color:green">DataFrame</span> - двумерный массив с метками</p>

In [11]:
randMatrix = np.random.randn(4,3)
randMatrix

array([[-0.55296155, -1.18294239,  1.25138869],
       [ 0.29186434,  0.0576352 , -0.37724355],
       [-0.93531239,  0.50082001, -0.7968828 ],
       [-0.15860995,  0.5551462 , -0.11624506]])

In [12]:
lCmls = ["Column_1", "Column_2", "Column_3"]
lCmls

['Column_1', 'Column_2', 'Column_3']

In [13]:
df = pnd.DataFrame(data = randMatrix, columns = lCmls)
df

   Column_1  Column_2  Column_3
0 -0.552962 -1.182942  1.251389
1  0.291864  0.057635 -0.377244
2 -0.935312  0.500820 -0.796883
3 -0.158610  0.555146 -0.116245

In [14]:
df2 = pnd.DataFrame(data = randMatrix, columns = lCmls, index = ['a','b','c','d'])
df2

   Column_1  Column_2  Column_3
a -0.552962 -1.182942  1.251389
b  0.291864  0.057635 -0.377244
c -0.935312  0.500820 -0.796883
d -0.158610  0.555146 -0.116245

<p>Вывод первых и последних $n$ значений</p>

In [15]:
df2.head(2)

   Column_1  Column_2  Column_3
a -0.552962 -1.182942  1.251389
b  0.291864  0.057635 -0.377244

In [16]:
df2.tail(2)

   Column_1  Column_2  Column_3
c -0.935312  0.500820 -0.796883
d -0.158610  0.555146 -0.116245

<p>Способы обращения к столбцам, строкам и ячейкам <span style="font-weight:bold; color:green">DataFrame</span>'а рассматриваются в следующих разделах</p>

<a name = "1c"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">с. Панель (<span style="font-weight:bold; color:green">Panel</span>)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#1b">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2">Далее</a></div>
    </div>
</div>

<p>Панель <span style="font-weight:bold; color:green">Panel</span> - контейнер для трехмерных данных</p>

<p>Создание панели с использованием списков</p>

In [17]:
m3DimData = [[["TV", 100, 40],
              ["Smartphone", 50, 10], 
              ["Pendrive", 10, 10]],
             [["TV", 90, 48],
              ["Smartphone", 45, 12], 
              ["Pendrive", 12, 8]]]
m3DimData

[[['TV', 100, 40], ['Smartphone', 50, 10], ['Pendrive', 10, 10]],
 [['TV', 90, 48], ['Smartphone', 45, 12], ['Pendrive', 12, 8]]]

In [18]:
p = pnd.Panel(data = m3DimData, items = ["Jan", "Feb"], major_axis=list(range(3)),  minor_axis = ["Item_Name","Item_Price","Item_Total"])
p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: Jan to Feb
Major_axis axis: 0 to 2
Minor_axis axis: Item_Name to Item_Total

<p>Создание панели через словарь</p>

In [19]:
d3DimData = {"Jan": {"Item_Name":["TV", "Smartphone", "Pendrive"],
                    "Item_Price":[100, 50, 10], 
                    "Item_Total": [40, 10, 10]}, 
            "Feb": {"Item_Name":["TV", "Smartphone", "Pendrive"],
                    "Item_Price":[90, 45, 12], 
                    "Item_Total": [48, 12, 8]}}
d3DimData

{'Feb': {'Item_Name': ['TV', 'Smartphone', 'Pendrive'],
  'Item_Price': [90, 45, 12],
  'Item_Total': [48, 12, 8]},
 'Jan': {'Item_Name': ['TV', 'Smartphone', 'Pendrive'],
  'Item_Price': [100, 50, 10],
  'Item_Total': [40, 10, 10]}}

In [20]:
p2 = pnd.Panel(data = d3DimData)
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: Feb to Jan
Major_axis axis: 0 to 2
Minor_axis axis: Item_Name to Item_Total

<p>Обращение к таблицам <span style="font-weight:bold; color:green">Panel</span></p>

In [21]:
p['Jan']

    Item_Name Item_Price Item_Total
0          TV        100         40
1  Smartphone         50         10
2    Pendrive         10         10

In [22]:
p2['Jan']

    Item_Name Item_Price Item_Total
0          TV        100         40
1  Smartphone         50         10
2    Pendrive         10         10

In [23]:
p['Feb']

    Item_Name Item_Price Item_Total
0          TV         90         48
1  Smartphone         45         12
2    Pendrive         12          8

In [24]:
p2['Feb']

    Item_Name Item_Price Item_Total
0          TV         90         48
1  Smartphone         45         12
2    Pendrive         12          8

<a name="2"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">2. Первые шаги с <span style="font-weight:bold; color:green">DataFrame</span></div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) создание <span style="font-weight:bold; color:green">DataFrame</span>'а: <i>с использованием матрицы, списков, словаря, последовательностей</i><br> 
b) обращение к элементам<br> 
c) запись содержания <span style="font-weight:bold; color:green">DataFrame</span>'а во внешний файл: <i><b>csv</b> формат данных</i><br> 
d) загрузка внешних данных в <span style="font-weight:bold; color:green">DataFrame</span>: <i>обращение к ячейкам, изменение значений</i><br>
</div>

<a name = "2a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Создание <span style="font-weight:bold; color:green">DataFrame</span>'а</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2b">Далее</a></div>
    </div>
</div>

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>матрицы</i></p>

In [25]:
matrix = [['Dima', 'Moscow', 1988, 4, 'm'],
 ['Sveta', 'Kiev', 1999, 4, 'f'],
 ['Alex', 'Minsk', 1954, np.NaN, 'm'],
 ['Ivan', 'St.Petersburg', 2005, 6, 'm'],
 ['Kate', 'London', 2001, np.NaN, 'f'],
 ['Maria', 'New York', 1997, 7, 'f']]
matrix

[['Dima', 'Moscow', 1988, 4, 'm'],
 ['Sveta', 'Kiev', 1999, 4, 'f'],
 ['Alex', 'Minsk', 1954, nan, 'm'],
 ['Ivan', 'St.Petersburg', 2005, 6, 'm'],
 ['Kate', 'London', 2001, nan, 'f'],
 ['Maria', 'New York', 1997, 7, 'f']]

In [26]:
df = pnd.DataFrame(data = matrix, columns = ["Name", "City", "Year", "Grade", "Gender"])
df

    Name           City  Year  Grade Gender
0   Dima         Moscow  1988    4.0      m
1  Sveta           Kiev  1999    4.0      f
2   Alex          Minsk  1954    NaN      m
3   Ivan  St.Petersburg  2005    6.0      m
4   Kate         London  2001    NaN      f
5  Maria       New York  1997    7.0      f

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>списков</i> и <b>zip()</b></p>

In [27]:
names = ["Dima", "Sveta","Alex", "Ivan", "Kate", "Maria"]
cities = ["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"]
year = [1988, 1999, 1954, 2005, 2001, 1997]
grades = [4, 4, np.NaN, 6, np.NaN, 7]
gender = ["m", "f", "m", "m", "f", "f"]

rows = list(zip(names, cities, year, grades, gender))
rows

[('Dima', 'Moscow', 1988, 4, 'm'),
 ('Sveta', 'Kiev', 1999, 4, 'f'),
 ('Alex', 'Minsk', 1954, nan, 'm'),
 ('Ivan', 'St.Petersburg', 2005, 6, 'm'),
 ('Kate', 'London', 2001, nan, 'f'),
 ('Maria', 'New York', 1997, 7, 'f')]

In [28]:
df = pnd.DataFrame(data = rows, columns = ["Name", "City", "Year", "Grade", "Gender"])
df

    Name           City  Year  Grade Gender
0   Dima         Moscow  1988    4.0      m
1  Sveta           Kiev  1999    4.0      f
2   Alex          Minsk  1954    NaN      m
3   Ivan  St.Petersburg  2005    6.0      m
4   Kate         London  2001    NaN      f
5  Maria       New York  1997    7.0      f

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>списков</i> и <i>словаря</i></p>

In [29]:
dictL = {"Name":["Dima", "Sveta","Alex", "Ivan", "Kate", "Maria"],
        "City":["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"],
        "Year":[1988, 1999, 1954, 2005, 2001, 1997],
        "Grade":[4, 4, np.NaN, 6, np.NaN, 7],
        "Gender":["m", "f", "m", "m", "f", "f"]}

dictL

{'City': ['Moscow', 'Kiev', 'Minsk', 'St.Petersburg', 'London', 'New York'],
 'Gender': ['m', 'f', 'm', 'm', 'f', 'f'],
 'Grade': [4, 4, nan, 6, nan, 7],
 'Name': ['Dima', 'Sveta', 'Alex', 'Ivan', 'Kate', 'Maria'],
 'Year': [1988, 1999, 1954, 2005, 2001, 1997]}

In [30]:
df = pnd.DataFrame(data = dictL)
df

            City Gender  Grade   Name  Year
0         Moscow      m    4.0   Dima  1988
1           Kiev      f    4.0  Sveta  1999
2          Minsk      m    NaN   Alex  1954
3  St.Petersburg      m    6.0   Ivan  2005
4         London      f    NaN   Kate  2001
5       New York      f    7.0  Maria  1997

<p>Чтобы указать последовательность столбцов, следует воспользоваться параметром <i>columns</i></p>

In [31]:
df = pnd.DataFrame(data = dictL, columns = ["Name", "City", "Year", "Grade", "Gender"])
df

    Name           City  Year  Grade Gender
0   Dima         Moscow  1988    4.0      m
1  Sveta           Kiev  1999    4.0      f
2   Alex          Minsk  1954    NaN      m
3   Ivan  St.Petersburg  2005    6.0      m
4   Kate         London  2001    NaN      f
5  Maria       New York  1997    7.0      f

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>последовательностей</i></p>

In [32]:
s1 = pnd.Series(data = ['Dima', 'Sveta', 'Alex', 'Ivan', 'Kate', 'Maria'], name = 'Name')
s2 = pnd.Series(data = ["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"], name = 'City')
s3 = pnd.Series(data = [1988, 1999, 1954, 2005, 2001, 1997], name = 'Year')
s4 = pnd.Series(data = [4, 4, np.NaN, 6, np.NaN, 7], name = 'Grade')
s5 = pnd.Series(data = ['m', 'f', 'm', 'm', 'f', 'f'], name = 'Gender')

df1 = pnd.DataFrame([s1,s2,s3,s4,s5])
df1

             0      1      2              3       4         5
Name      Dima  Sveta   Alex           Ivan    Kate     Maria
City    Moscow   Kiev  Minsk  St.Petersburg  London  New York
Year      1988   1999   1954           2005    2001      1997
Grade        4      4    NaN              6     NaN         7
Gender       m      f      m              m       f         f

In [33]:
df1 = df1.T
df1

    Name           City  Year Grade Gender
0   Dima         Moscow  1988     4      m
1  Sveta           Kiev  1999     4      f
2   Alex          Minsk  1954   NaN      m
3   Ivan  St.Petersburg  2005     6      m
4   Kate         London  2001   NaN      f
5  Maria       New York  1997     7      f

Чтобы изменить стандартную индексацию от 0, можно воспользоваться следующим выражением

In [34]:
df.index = df.index + 1 #индексация будет от 1
df

    Name           City  Year  Grade Gender
1   Dima         Moscow  1988    4.0      m
2  Sveta           Kiev  1999    4.0      f
3   Alex          Minsk  1954    NaN      m
4   Ivan  St.Petersburg  2005    6.0      m
5   Kate         London  2001    NaN      f
6  Maria       New York  1997    7.0      f

<p>Доступ к индексам</p>

In [35]:
df.index

RangeIndex(start=1, stop=7, step=1)

<p>Доступ к именам столбцов</p>

In [36]:
df.columns

Index(['Name', 'City', 'Year', 'Grade', 'Gender'], dtype='object')

<a name = "2b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Обращение к элементам <span style="font-weight:bold; color:green">DataFrame</span></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2c">Далее</a></div>
    </div>
</div>

<p>Обращение к элементу по <b>индексу</b> строки и имени столбца</p>

In [37]:
df.loc[2,"City"]

'Kiev'

In [38]:
df.ix[2,"City"]

'Kiev'

<p>Обращение к элементу по <b>индексу</b> строки и номеру столбца</p>

In [39]:
df.ix[2,1]

'Kiev'

<p>Обращение к элементу по <b>номеру</b> строки и номеру столбца</p>

In [40]:
df.iloc[2,1]

'Minsk'

<a name = "2c"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">c. Запись содержания <span style="font-weight:bold; color:green">DataFrame</span> во внешний файл</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2b">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2d">Далее</a></div>
    </div>
</div>

<p>Pandas позволяет работать с различными форматами файлов, такими как csv, excel, xml, json и др. Более подробно <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">здесь</a></p>
<p>В качестве примера далее рассматривается небольшой пример того, как значения <span style="font-weight:bold; color:green">DataFrame</span>'а записать во внешний файл csv, а затем загрузить из него данные обратно в <span style="font-weight:bold; color:green">DataFrame</span></p>

<p>Запись данных в файл <i>csv</i></p>

In [41]:
df.to_csv("testFile.csv", index = False, header = True)

<a name = "2d"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">d. Загрузка внешних данных в <span style="font-weight:bold; color:green">DataFrame</span></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2c">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3">Далее</a></div>
    </div>
</div>

In [42]:
df1 = pnd.read_csv("testFile.csv")
df1

    Name           City  Year  Grade Gender
0   Dima         Moscow  1988    4.0      m
1  Sveta           Kiev  1999    4.0      f
2   Alex          Minsk  1954    NaN      m
3   Ivan  St.Petersburg  2005    6.0      m
4   Kate         London  2001    NaN      f
5  Maria       New York  1997    7.0      f

<a name = "3"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-size:14pt; font-weight:bold">3. Манипулирование <span style="font-weight:bold; color:green">DataFrame</span>'ми</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
</div>

<div style="padding-bottom:10px; border-bottom:1px solid lightgrey"></div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) работа со столбцами: <i>выбор данных по столбцам, добавление/удаление столбца</i><br> 
b) работа со строками: <i>выбор строк по индексу, использование условий, добавление/удаление строк</i><br> 
c) работа с ячейками: <i>обращение к ячейкам, изменение значений</i><br>
d) использованием метода groupby для группировки<br>
e) сортировка строк<br>
f) формирование сложных индексов<br>
g) объединение нескольких <span style="font-weight:bold; color:green">DataFrame</span>'ов: <i>append</i>, <i>concat</i>, <i>merge</i>, <i>join</i><br>
h) методы iterrows, map, apply, applymap
</p>
</div>

<a name = "3a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Столбцы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3b">Далее</a></div>
    </div>
</div>

<p>Исходный <span style="font-weight:bold; color:green">DataFrame</span></p>

In [43]:
df

    Name           City  Year  Grade Gender
1   Dima         Moscow  1988    4.0      m
2  Sveta           Kiev  1999    4.0      f
3   Alex          Minsk  1954    NaN      m
4   Ivan  St.Petersburg  2005    6.0      m
5   Kate         London  2001    NaN      f
6  Maria       New York  1997    7.0      f

<p>Получение последовательности по имени столбца</p>

In [44]:
s_name = df["Name"]
s_name

1     Dima
2    Sveta
3     Alex
4     Ivan
5     Kate
6    Maria
Name: Name, dtype: object

In [45]:
s_name = df.Name
s_name

1     Dima
2    Sveta
3     Alex
4     Ivan
5     Kate
6    Maria
Name: Name, dtype: object

In [46]:
type(s_name)

pandas.core.series.Series

<p>Получение DataFrame по столбцу</p>

In [47]:
df_name = df[["Name"]] #Обращение по имени столбца
df_name

    Name
1   Dima
2  Sveta
3   Alex
4   Ivan
5   Kate
6  Maria

In [48]:
df_name = df[[0]] #Обращение по индексу столбца
df_name

    Name
1   Dima
2  Sveta
3   Alex
4   Ivan
5   Kate
6  Maria

In [49]:
type(df_name)

pandas.core.frame.DataFrame

<p>Использование нескольких столбцов для выбора данных</p>

In [50]:
df_NC = df[["Name", "City"]]
df_NC

    Name           City
1   Dima         Moscow
2  Sveta           Kiev
3   Alex          Minsk
4   Ivan  St.Petersburg
5   Kate         London
6  Maria       New York

In [51]:
df_NC = df[[0, 1]]
df_NC

    Name           City
1   Dima         Moscow
2  Sveta           Kiev
3   Alex          Minsk
4   Ivan  St.Petersburg
5   Kate         London
6  Maria       New York

Получение уникальных значений столбца

In [52]:
df.Name.unique()

array(['Dima', 'Sveta', 'Alex', 'Ivan', 'Kate', 'Maria'], dtype=object)

In [53]:
df.Gender.unique()

array(['m', 'f'], dtype=object)

<p>Добавление/изменение столбца</p>

In [54]:
df["NewColumn"] = [4,5,7,3,2,6] #Добавление
df

    Name           City  Year  Grade Gender  NewColumn
1   Dima         Moscow  1988    4.0      m          4
2  Sveta           Kiev  1999    4.0      f          5
3   Alex          Minsk  1954    NaN      m          7
4   Ivan  St.Petersburg  2005    6.0      m          3
5   Kate         London  2001    NaN      f          2
6  Maria       New York  1997    7.0      f          6

In [55]:
df["Grade"] = [1,1,1,1,1,1] #Изменение
df

    Name           City  Year  Grade Gender  NewColumn
1   Dima         Moscow  1988      1      m          4
2  Sveta           Kiev  1999      1      f          5
3   Alex          Minsk  1954      1      m          7
4   Ivan  St.Petersburg  2005      1      m          3
5   Kate         London  2001      1      f          2
6  Maria       New York  1997      1      f          6

In [56]:
df["Grade"] = [4, 4, np.NaN, 6, np.NaN, 7]
df

    Name           City  Year  Grade Gender  NewColumn
1   Dima         Moscow  1988    4.0      m          4
2  Sveta           Kiev  1999    4.0      f          5
3   Alex          Minsk  1954    NaN      m          7
4   Ivan  St.Petersburg  2005    6.0      m          3
5   Kate         London  2001    NaN      f          2
6  Maria       New York  1997    7.0      f          6

In [57]:
if "NewColumn2" not in df.columns:
    df.insert(loc=1, value=[10,40,50,30,70,49], column="NewColumn2") #loc - позиция столбца
df

    Name  NewColumn2           City  Year  Grade Gender  NewColumn
1   Dima          10         Moscow  1988    4.0      m          4
2  Sveta          40           Kiev  1999    4.0      f          5
3   Alex          50          Minsk  1954    NaN      m          7
4   Ivan          30  St.Petersburg  2005    6.0      m          3
5   Kate          70         London  2001    NaN      f          2
6  Maria          49       New York  1997    7.0      f          6

<p>Создание из исходного <i>df</i> нового <span style="font-weight:bold; color:green">DataFrame</span>'а <i>df2</i> без столбца <i>NewColumn</i> </p>

In [58]:
df2 = df.drop('NewColumn', axis=1, inplace=False) #axis = 1 - удаление столбца
df2

    Name  NewColumn2           City  Year  Grade Gender
1   Dima          10         Moscow  1988    4.0      m
2  Sveta          40           Kiev  1999    4.0      f
3   Alex          50          Minsk  1954    NaN      m
4   Ivan          30  St.Petersburg  2005    6.0      m
5   Kate          70         London  2001    NaN      f
6  Maria          49       New York  1997    7.0      f

In [59]:
df

    Name  NewColumn2           City  Year  Grade Gender  NewColumn
1   Dima          10         Moscow  1988    4.0      m          4
2  Sveta          40           Kiev  1999    4.0      f          5
3   Alex          50          Minsk  1954    NaN      m          7
4   Ivan          30  St.Petersburg  2005    6.0      m          3
5   Kate          70         London  2001    NaN      f          2
6  Maria          49       New York  1997    7.0      f          6

<p>Удаление столбцов из исходного <span style="font-weight:bold; color:green">DataFrame</span>'а</p>

In [60]:
df.drop(["NewColumn", "NewColumn2"], axis=1, inplace=True) #Удаление нескольких столбцов
df

    Name           City  Year  Grade Gender
1   Dima         Moscow  1988    4.0      m
2  Sveta           Kiev  1999    4.0      f
3   Alex          Minsk  1954    NaN      m
4   Ivan  St.Petersburg  2005    6.0      m
5   Kate         London  2001    NaN      f
6  Maria       New York  1997    7.0      f

<a name = "3b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Строки</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3c">Далее</a></div>
    </div>
</div>

<p>Исходный <span style="font-weight:bold; color:green">DataFrame</span></p>

In [61]:
df

    Name           City  Year  Grade Gender
1   Dima         Moscow  1988    4.0      m
2  Sveta           Kiev  1999    4.0      f
3   Alex          Minsk  1954    NaN      m
4   Ivan  St.Petersburg  2005    6.0      m
5   Kate         London  2001    NaN      f
6  Maria       New York  1997    7.0      f

<p>Выбор строк по <b>индексу</b></p>

In [62]:
df.loc[2]

Name      Sveta
City       Kiev
Year       1999
Grade         4
Gender        f
Name: 2, dtype: object

In [63]:
df.ix[2]

Name      Sveta
City       Kiev
Year       1999
Grade         4
Gender        f
Name: 2, dtype: object

<p>Выбор строк по <b>позиции</b> (номер строки начиная с 0)</p>

In [64]:
df.iloc[2]

Name       Alex
City      Minsk
Year       1954
Grade       NaN
Gender        m
Name: 3, dtype: object

In [65]:
df.irow(2)

/home/kirill/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  if __name__ == '__main__':

Name       Alex
City      Minsk
Year       1954
Grade       NaN
Gender        m
Name: 3, dtype: object

Использование диапазона позиций

In [66]:
df[:3]

    Name    City  Year  Grade Gender
1   Dima  Moscow  1988    4.0      m
2  Sveta    Kiev  1999    4.0      f
3   Alex   Minsk  1954    NaN      m

In [67]:
df[1:4]

    Name           City  Year  Grade Gender
2  Sveta           Kiev  1999    4.0      f
3   Alex          Minsk  1954    NaN      m
4   Ivan  St.Petersburg  2005    6.0      m

<p>Использование условий</p>

In [68]:
df[df.Name == "Dima"]

   Name    City  Year  Grade Gender
1  Dima  Moscow  1988    4.0      m

In [69]:
df[df["Grade"]>=5]

    Name           City  Year  Grade Gender
4   Ivan  St.Petersburg  2005    6.0      m
6  Maria       New York  1997    7.0      f

In [70]:
df[df.Grade>=5]

    Name           City  Year  Grade Gender
4   Ivan  St.Petersburg  2005    6.0      m
6  Maria       New York  1997    7.0      f

In [71]:
df[(df.Grade>=5) & (df.Gender=="f")] #Операция "И"

    Name      City  Year  Grade Gender
6  Maria  New York  1997    7.0      f

In [72]:
df[(df.Grade==4) | (df.Grade==6)] #Операция "ИЛИ"

    Name           City  Year  Grade Gender
1   Dima         Moscow  1988    4.0      m
2  Sveta           Kiev  1999    4.0      f
4   Ivan  St.Petersburg  2005    6.0      m

In [73]:
df[np.isnan(df.Grade)]  #Строки с неопредленным значнием Grade

   Name    City  Year  Grade Gender
3  Alex   Minsk  1954    NaN      m
5  Kate  London  2001    NaN      f

<p>Применение метода <b>isin()</b> для вывода строк, в которых значение заданного столбца содержится в списке</p>

In [74]:
l_cities = ["Moscow", "Minsk"]
df2 = df[df.City.isin(l_cities)]
df2

   Name    City  Year  Grade Gender
1  Dima  Moscow  1988    4.0      m
3  Alex   Minsk  1954    NaN      m

<p>Добавление/изменение строки</p>

In [75]:
df.ix[10] = ["NewName","NewCity",2016,1,'f'] #Добавление строки с указанием индекса
df

       Name           City  Year  Grade Gender
1      Dima         Moscow  1988    4.0      m
2     Sveta           Kiev  1999    4.0      f
3      Alex          Minsk  1954    NaN      m
4      Ivan  St.Petersburg  2005    6.0      m
5      Kate         London  2001    NaN      f
6     Maria       New York  1997    7.0      f
10  NewName        NewCity  2016    1.0      f

In [76]:
df.ix[11] = ["NewName2","NewCity2",2016,1,'f'] #Добавление строки с указанием индекса
df

        Name           City  Year  Grade Gender
1       Dima         Moscow  1988    4.0      m
2      Sveta           Kiev  1999    4.0      f
3       Alex          Minsk  1954    NaN      m
4       Ivan  St.Petersburg  2005    6.0      m
5       Kate         London  2001    NaN      f
6      Maria       New York  1997    7.0      f
10   NewName        NewCity  2016    1.0      f
11  NewName2       NewCity2  2016    1.0      f

In [ ]:
df.loc[4] = ["ChangedIvan", "St.Petersburg", 2005, 6, "m"] #Изменение строки с указанием её номера
df

In [ ]:
df.iloc[0] = ["Changed", "Changed", 2000, 10, "m"] #Изменение строки по индексу строки
df

Метод <b>fillna()</b> заполняет пустые ячейки значением аргумента

In [ ]:
df4 = df["Grade"].fillna(3) #Возвращает новый DataFrame
pnd.DataFrame(df4)

<p>Удаление строки</p>

In [ ]:
df.drop(df.index[7], axis = 0, inplace = True) #Удаление по номеру строки, axis = 0 - строки, inplace = True - удаляет в df
df

In [ ]:
df.drop(df.index[df.index==10], axis = 0, inplace = True) #Удаление по индексу строки
df

In [ ]:
df2 = df.drop(df.index[df.index==1], axis = 0, inplace = False)
df2

In [ ]:
df

<p>Удаление всех строк, в которых есть неопределенное значение (NaN)</p>

In [ ]:
df.dropna() #Возвращает новый DataFrame

<a name = "3c"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">c. Значения ячеек</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3b">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3d">Далее</a></div>
    </div>
</div>

<p>Обращение по <b>индексу</b> строки</p>

In [ ]:
df.ix[2, 1]

In [ ]:
df.ix[2, "City"]

In [ ]:
df.loc[2, "City"]

<p>Обращение по <b>позиции</b> (номеру) строки</p>

In [ ]:
df.iloc[2, 1]

<p>Пример использования с циклом <i>for</i></p>

In [ ]:
#Изменение значений в столбце Grade на +10
for i in range(len(df)):
    df.iloc[i, 3] += 10
    
df

<p>Срезы по строкам</p>

In [ ]:
df.loc[:,"City"]

In [ ]:
df.iloc[1:4, 1]

<p>Срезы по строкам и столбцам</p>

In [ ]:
df.loc[1:4,"Name":"Year"]

In [ ]:
df

<p>Изменение значения ячейки. Если нет указанного индекса в <span style="font-weight:bold; color:green">DataFrame</span>'е, то добавляется новая строка</p>

In [ ]:
df.set_value(2, "Name", "NewName")

In [ ]:
df.set_value(7, "Name", "NewName")

In [ ]:
df.drop(df.index[df.index==7], axis = 0, inplace = True) #Удаление по индексу строки
df

<a name = "3d"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">d. Группировка</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3c">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3e">Далее</a></div>
    </div>
</div>

In [ ]:
lSalary = [10, 40, 50, 30, 70, 49]
lMarrStatus = [True, False, True, True, True, False]
dfGroup = df.copy()
dfGroup["Salary"] = lSalary
dfGroup["Marriage"] = lMarrStatus
dfGroup

<p>Итеративный объект с группами по значению столбца</p>

In [ ]:
gb = dfGroup.groupby("Gender")
gb

<p>Использование цикла <i>for</i> для доступа к группам</p>

In [ ]:
for i, grDF in gb:
    print(i)
    print(grDF)

<p>Количество строк в каждой группе</p>

In [ ]:
gb.size()

<p>Группировка по нескольким столбцам</p>

In [ ]:
gb2 = dfGroup.groupby(["Gender","Marriage"])
gb2

In [ ]:
for i, grDF in gb2:
    print(i)
    print(grDF)

<p>Получение <span style="font-weight:bold; color:green">DataFrame</span>'а группы по значению</p>

In [ ]:
df2 = gb.get_group("f")
df2

In [ ]:
gb2.get_group(('f', False))

<p>Фильтр для групп</p>

In [ ]:
dfGroup.groupby("Gender").filter(lambda group: group.Grade.sum() > 35) #Возвращает DataFrame с группами, в которых сумма Grade > 10

<p>Агрегирование в группах</p>

In [ ]:
df2 = dfGroup[["Gender", "Grade", "Salary"]]
df2

In [ ]:
df2 = dfGroup[["Gender", "Grade", "Salary"]]
df2.groupby("Gender").aggregate(lambda group: group.sum())

<p>Трансформация выполняется для элементов отдельных столбцов каждой группу</p>

In [ ]:
v = np.array([1,2,3])
v - v.mean()

In [ ]:
#Значение элемента минус среднее значение в столбце группы
#[1,2,3]-2 = [-1,0,1]
df2.groupby("Gender").transform(lambda x: x - x.mean())

<p>Группировка данных по диапазонам значений</p>

In [ ]:
cSal = pnd.cut(dfGroup.Salary, bins = [0, 30, 50, 80])
cSal

In [ ]:
gr3 = dfGroup.groupby(cSal)
gr3.get_group("(30, 50]")

In [ ]:
cSal2 = pnd.cut(dfGroup.Salary, bins = [0, 30, 50, 80], labels=["bad","medium","good"])
cSal2

In [ ]:
gr3 = dfGroup.groupby(cSal2)
gr3.get_group("medium")

In [ ]:
cSal3 = pnd.cut(dfGroup.Salary, np.arange(0, 100, 10))
cSal3

In [ ]:
cSal4 = pnd.cut(dfGroup.Salary, 3, labels=["bad","medium","good"])
cSal4

<a name = "3e"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">e. Сортировка</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3d">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3f">Далее</a></div>
    </div>
</div>

<p>Сортировка по одному столбцу</p>

In [ ]:
df.sort("Year", ascending = 1) #по возрастанию

In [ ]:
df.sort("Year", ascending = 0) #по убыванию

<p>Сортировка по нескольким столбцам</p>

In [ ]:
df.sort(["Gender", "Year"], ascending = [1, 0])

<a name = "3f"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">f. Сложные индексы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3e">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3g">Далее</a></div>
    </div>
</div>

In [ ]:
mDataMI =  np.random.randint(low=0, high=101, size=(4,3))
mDataMI

In [ ]:
index2 = ["Working Days", "Weekend", "Working Days", "Weekend"] #Второй индекс
index1 = ["Week1", "Week1", "Week2", "Week2"] #Первый индекс

dfMI = pnd.DataFrame(data = mDataMI, columns = ["TV", "Smartphone", "Pendrive"], index = [index1, index2])
dfMI

<p>Доступ к данный по индексам</p>

In [ ]:
dfMI.loc["Week1"]

In [ ]:
dfMI.loc[("Week1", "Weekend")]

<p>Пример с суммой</p>

In [ ]:
dfMI.sum() #Сумма по столбцам для всех индексов

In [ ]:
dfMI.loc["Week1"].sum() #Сумма по столбцам для Week1

In [ ]:
dfMI.loc[[("Week1", "Weekend"),("Week2", "Weekend")]].sum() #Сумма по столбцам за Weekend для Week1 и Week2

<a name = "3g"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">g. Объединение DataFrame'ов</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3f">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3h">Далее</a></div>
    </div>
</div>

<p>Слияние таблиц</p>

<p><b>Метод <i>append()</i></b> - объединение строк таблиц</p>

In [ ]:
#Загрузка начальной версии df
df = pnd.DataFrame(data = rows, columns = ["Name", "City", "Year", "Grade", "Gender"])
df

<p>Использование списка словарей</p>

In [ ]:
dictNew = [{"Name":"Petr", "City":"Bryansk", "Year":1990, "Grade":8}, {"Name":"Ann", "City":"Tehran"}]
dictNew

In [ ]:
df2 = df.append(dictNew, ignore_index = True) #ignore_index = True - в новом DataFrame будет стандартная индексация от 0.
df2

<p>Последовательность</p>

In [ ]:
s1 = pnd.Series(data = ["Petr", "Bryansk", 1978, 5, "m"], index=["Name","City","Year","Grade","Gender"])
s2 = pnd.Series(data = ["Ann", "Tehran", 1997, 7, "f"], index=["Name","City","Year","Grade","Gender"])

In [ ]:
df2 = df.append([s1,s2], ignore_index = True)
df2

<p><b>Функция <i>concat()</i></b></p>

<p>Объединение строк</p>

In [ ]:
mNewRows = [["Petr", "Bryansk", 1978, 5, "m"], ["Ann", "Tehran", 1997, 7, "f"]]
mNewRows

In [ ]:
df2 = pnd.DataFrame(data=mNewRows, columns=["Name","City","Year","Grade","Gender"])
df2

In [ ]:
df3 = pnd.concat([df, df2], ignore_index = False) #ignore_index = False - в новом DataFrame индексы остаются прежними
df3

In [ ]:
df3.ix[1]

In [ ]:
df3 = pnd.concat([df, df2], ignore_index = True) #ignore_index = True - в новом DataFrame будет стандартная индексация от 0.
df3

<p>Добавление ключа/индекса</p>

In [ ]:
df3 = pnd.concat([df, df2], keys = ["Table1", "Table2"])
df3

In [ ]:
df3.loc["Table1"]

In [ ]:
df3.loc[("Table1", 1)]

<p>Слияние таблиц по столбцам</p>

In [ ]:
df

In [ ]:
dictNew = {"Marriage_status":[True, False, True, False],
        "Salary":[12, 40, 53, 25]}

dfRight1 = pnd.DataFrame(data = dictNew)
dfRight1

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.concat([df,dfRight1], axis = 1, join = "outer") #axis = 1 указывает на то, что будет объединение столбцов
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.concat([df,dfRight1], axis = 1, join = "inner") #join = "inner" - объединяет столбцы по совпадающим индексам строк
df3

<p><b>Функция <i>merge()</i></b></p>

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.merge(df, dfRight1, left_index=True, right_index=True, how = "outer")
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значениям в столбцах</p>

In [ ]:
dictNew2 = {"Name":["Sveta", "Sveta", "Alex", "Alex", "Kate", "Vlad", "Alice"],
            "Device":["TV", "Smartphone", "TV", "Pendrive", "TV", "TV", "PC"]}

dfRight2 = pnd.DataFrame(data = dictNew2)
dfRight2

In [ ]:
df3 = pnd.merge(df, dfRight2, on = ["Name"], how = "outer")
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
dictNew3 = {"key":[2, 2, 3, 3, 4, 4, 10],
            "Device":["TV", "Smartphone", "TV", "Pendrive", "TV", "TV", "PC"]}

dfLeft = pnd.DataFrame(data = dictNew3)
dfLeft

In [ ]:
df3 = pnd.merge(dfLeft, df, left_on="key", right_index=True, how="outer")
df3

<p>Левое внешнее соединение (<b>left outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.merge(df, dfRight1, left_index=True, right_index=True, how="left")
df3

<p>Левое внешнее соединение (<b>left outer join</b>) таблиц по значениям в столбцах</p>

In [ ]:
df3 = pnd.merge(df, dfRight2, on=["Name"], how="left")
df3

<p>Внешнее левое соединение (<b>left outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = pnd.merge(dfLeft, df, left_on="key", right_index=True, how="left")
df3

<p>Правое внешнее соединение (<b>right outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.merge(df, dfRight1, left_index=True, right_index=True, how = "right")
df3

<p>Правое внешнее соединение (<b>right outer join</b>) таблиц по значениям в столбцах</p>

In [ ]:
df3 = pnd.merge(df, dfRight2, on = ["Name"], how = "right")
df3

In [ ]:
df3 = pnd.merge(df, dfRight2, on = ["Name"], how = "right")
df3

<p>Внешнее правое соединение (<b>right outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = pnd.merge(dfLeft, df, left_on="key", right_index=True, how="right")
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по индексу</p>

In [ ]:
df3 = pnd.merge(df, dfRight1, left_index=True, right_index=True, how = "inner")
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по значениям в столбцах</p>

In [ ]:
df3 = pnd.merge(df, dfRight2, on = ["Name"], how = "inner")
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = pnd.merge(dfLeft, df, left_on="key", right_index=True, how="inner")
df3

<p><b>Метод <i>join()</i></b></p>

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
df

In [ ]:
df2

In [ ]:
df3 = df.join(dfRight1, how = "outer")
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
dictNew3 = {"key":[2, 2, 3, 3, 4, 4, 10],
            "Device":["TV", "Smartphone", "TV", "Pendrive", "TV", "TV", "PC"]}

dfLeft = pnd.DataFrame(data = dictNew3)
dfLeft

In [ ]:
df3 = dfLeft.join(df, on = "key", how = "outer")
df3

<p>Левое внешнее соединение (<b>left outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(dfRight1, how = "left")
df3

<p>Внешнее левое соединение (<b>left outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = dfLeft.join(df, on = "key", how = "left")
df3

<p>Правое внешнее соединение (<b>right outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(dfRight1, how = "right")
df3

<p>Внешнее правое соединение (<b>right outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = dfLeft.join(df, on = "key", how = "right")
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(dfRight1, how = "inner")
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = dfLeft.join(df, on = "key", how = "inner")
df3

<a name = "3h"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">h. Методы <i>iterrows</i>, <i>map</i>, <i>apply</i>, <i>applymap</i></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3g">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#4">Далее</a></div>
    </div>
</div>

<p>Использование итератора по строкам - метод <b>iterrows()</b></p>

In [ ]:
for i, row in df.iterrows():
    print(i)
    print(row)

<p>Пример</p>

In [ ]:
df2 = pnd.DataFrame(columns = df.columns) #Новый DataFrame со схемой (столбцами) df
for i, row in df.iterrows():
    #Если City есть Moscow или Minsk, строка row добавляется в df2
    if row.City in ["Moscow", "Minsk"]:
        df2.loc[i] = row
        
df2

<p>Выбор/фильтрация строк посредством методов <b>apply()</b> и <b>map()</b></p>

In [ ]:
df2 = df[df["City"].apply(lambda c: c in ["Moscow", "Minsk"])]
df2

In [ ]:
#Через функцию (без lambda)
def func(city):
    if city in ["Moscow", "Minsk"]:
        return True
    return False

df2 = df[df.City.apply(func)]
df2

In [ ]:
df2 = df[df["City"].map(lambda c: c in ["Moscow", "Minsk"])]
df2

<p>Выбор строк без нулевых значений</p>

In [ ]:
df[df.Grade.notnull()]

In [ ]:
df[df.Grade.apply(lambda x: not np.isnan(x))]

<p>Выбор строк с условием Year > 2000</p>

In [ ]:
df[df["Year"] >= 2000]

In [ ]:
df[df["Year"].apply(lambda year: year >= 2000)]

<p>Применение метода <b>apply()</b> для вычислений</p>

In [ ]:
mDataA =  np.random.randint(low=0, high=101, size=(3,7))
mDataA

In [ ]:
dfA = pnd.DataFrame(data = mDataA, columns = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"], index = ["TV", "Smartphone", "Pendrive"])
dfA

In [ ]:
s_clmn_sum = dfA.apply(lambda clmn: clmn.sum(), axis = 0) #axis = 0 - выбор по столбцам
s_clmn_sum

In [ ]:
type(s_clmn_sum)

In [ ]:
s_clmn_sum.name = "TotalByDay"
pnd.DataFrame(s_clmn_sum)

In [ ]:
s_row_sum = dfA.apply(lambda row: row.sum(), axis = 1) #axis = 1 - выбор по строкам
s_row_sum

In [ ]:
s_row_sum.name = "TotalByDevice"
pnd.DataFrame(s_row_sum)

In [ ]:
dfA["Working_Days"] = dfA.apply(lambda x: x[0:5].sum(), axis=1)
dfA

In [ ]:
dfA["Weekend"] = dfA.apply(lambda x: x[5:8].sum(), axis=1)
dfA

In [ ]:
#Удаление столбцов Working_Days и Weekend
dfA.drop(["Working_Days","Weekend"], axis=1, inplace=True)

<p>Нормализация значений по строке через <i>apply</i></p>

In [ ]:
dfA.apply(lambda x: x/x.sum(), axis=1)

<p>Нормализация через дополнительную функцию</p>

In [ ]:
def norm(row):
    s = row.sum()
    return [el/s for el in row] #или return row/s

dfA.apply(norm, axis=1)

<p>Применение метода <b>applymap()</b></p>

In [ ]:
dfA

In [ ]:
df4 = dfA.applymap(lambda cell: cell/100)
df4

<p>Изменение значений с использованием цикла</p>

In [ ]:
df2 = pnd.DataFrame()
for clmn in dfA.columns:
    df2[clmn] = dfA.ix[:,clmn]/100

df2

<a name="4"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">4. Математическая поддержка</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) операции со столбцами: <i>с использованием матрицы, списков, словаря, последовательностей</i><br> 
b) специалные методы: <i>count</i>, <i>min</i>, <i>max</i>, <i>sum</i>, <i>mean</i>, <i>var</i>, <i>std</i>, <i>describe</i>, <i>corr</i>, <i>cov</i><br> 
</div>

<a name = "4a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Операции со столбцами</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#4">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#4b">Далее</a></div>
    </div>
</div>

In [ ]:
dfA

In [ ]:
s_nomValues = dfA.Mon / 100
s_nomValues

In [ ]:
dfA.Mon = dfA.Mon + 10
dfA

In [ ]:
s_sumMonTue = dfA["Mon"] + dfA["Tue"]
s_sumMonTue

In [ ]:
s_multMonTue = dfA["Mon"] * dfA["Tue"]
s_multMonTue

<p>Пример вычисления суммы по всем столбцам с циклом <i>for</i></p>

In [ ]:
dfA.columns

In [ ]:
dfA["Total"] = dfA[dfA.columns[0]]
for i in range(1, len(dfA.columns)-1):
    dfA["Total"] += dfA[dfA.columns[i]]

dfA

In [ ]:
#Удаление столбца Total
dfA.drop(["Total"], axis=1, inplace=True)
dfA

<p>Пример вычисления суммы по всем столбцам с использованием <i>apply</i></p>

In [ ]:
dfA["Total"] = dfA.apply(lambda row: row.sum(), axis = 1)
dfA

In [ ]:
dfA.drop(["Total"], axis=1, inplace=True)

<p>Пример вычисления суммы по всем столбцам с использованием <i>sum</i></p>

In [ ]:
dfA["Total"] = dfA.sum(axis=1)
dfA

In [ ]:
dfA.drop(["Total"], axis=1, inplace=True)

<a name = "4b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Специальные методы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#4a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#5">Далее</a></div>
    </div>
</div>

In [ ]:
dfA.count(axis=0)

In [ ]:
dfA.count(axis=1)

In [ ]:
dfA.min(axis=0)

In [ ]:
dfA.min(axis=1)

In [ ]:
dfA["Mon"].min()

In [ ]:
dfA["Mon"].argmin()

In [ ]:
dfA.max(axis=0)

In [ ]:
dfA.max(axis=1)

In [ ]:
dfA["Mon"].argmax()

In [ ]:
dfA.sum(axis=0)

In [ ]:
dfA.sum(axis=1)

In [ ]:
dfA["Mon"].sum()

In [ ]:
dfA.mean(axis=0)

In [ ]:
dfA.mean(axis=1)

In [ ]:
dfA["Mon"].mean()

In [ ]:
dfA.var(axis=0)

In [ ]:
dfA.var(axis=1)

In [ ]:
dfA.std(axis=1)

In [ ]:
dfA["Mon"].std()

In [ ]:
dfA.describe()

In [ ]:
dfA["Mon"].describe()

In [ ]:
dfA.corr()

In [ ]:
dfA.cov()

<a name="5"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">5. Визуализация данных</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) построение графиков (plot)</i><br> 
b) построение гистограмм<br> 
</p>
</div>

<a name = "5a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. График (plot)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#5">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#5b">Далее</a></div>
    </div>
</div>

In [ ]:
%matplotlib inline
dfA.T.plot()

In [ ]:
pl = dfA.loc["TV",:].plot(title="TV")
pl.set_xlabel("Day of the Week")
pl.set_ylabel("Count")

<a name = "5b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Гистограмма</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#5a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#6">Далее</a></div>
    </div>
</div>

In [ ]:
dfA.hist(bins = 4)

In [ ]:
dfA.T.hist(bins = 4)

<a name="6"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">6. Источники</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div><p>Документация</p>
<a href="http://pandas.pydata.org/pandas-docs/stable/genindex.html">Pandas 0.17.1 documentation. Index</a><br>

<p>Разбор функциональных возможностей</p>
<a href="http://pandas.pydata.org/pandas-docs/stable/dsintro.html">Intro to Data Structures</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/indexing.html">Indexing and Selecting Data</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/io.html">IO Tools (Text, CSV, HDF5, ...)</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/groupby.html">Group By: split-apply-combine</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/advanced.html">MultiIndex / Advanced Indexing</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/merging.html">Merge, join, and concatenate</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/merging.html">Essential Basic Functionality</a><br>
<a href="https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf">NumPy / SciPy / Pandas Cheat Sheet</a><br>
<a href="http://www.swegler.com/becky/blog/2014/08/06/useful-pandas-snippets/">Useful Pandas Snippets</a><br>
<a href="http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html">Applying Operations Over pandas Dataframes</a><br>
<a href="http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/01%20-%20Lesson.ipynb">Pandas. Lesson 1</a><br>
<a href="http://chrisalbon.com/python/pandas_dropping_column_and_rows.html">Dropping Rows And Columns In pandas Dataframe</a><br>
<a href="http://chrisalbon.com/python/pandas_dataframe_descriptive_stats.html">Descriptive Statistics For pandas Dataframe</a><br>

<p>Примеры использования</p>
<a href="http://synesthesiam.com/posts/an-introduction-to-pandas.html">An Introduction to Pandas (weather analysis)</a><br>
<a href="http://pbpython.com/excel-pandas-comp.html">Common Excel Tasks Demonstrated in Pandas</a><br>
<a href="http://wavedatalab.github.io/datawithpython/aggregate.html">Using Pandas for Analyzing Data - Grouping and Aggregating</a><br>
<a href="http://dataconomy.com/14-best-python-pandas-features/">14 BEST PYTHON PANDAS FEATURES</a><br>
<a href="http://www.randalolson.com/2012/08/06/statistical-analysis-made-easy-in-python/">Statistical analysis made easy in Python with SciPy and pandas DataFrames</a><br>
</div>